/* The navigation bar */
.navbar {
    background-color: rgb(0, 0, 0);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: center;
    display: block;
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ffc107;
    color: black;
}

.navbar-brand {
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
}

/* Main content */
header {
    margin-top: 3rem; /* Add a top margin to avoid content overlay */
}

h1{
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
}

h2{
    padding-top: 4rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
}

h3{
    text-align: center;
}

.jumbotron{
    margin-bottom: 0;
}

.text div{
    background: #ffc107;
    padding: 1rem;
    border-radius: 1rem !important;
    margin-bottom: 1rem;
}

div.col-sm-6{
    position: static !important;
}

.rizika .col-sm-6 p{
    background: #ffc107;
    padding: 1rem;
    border-radius: 1rem !important;
    margin-bottom: 1rem;
}

footer{
    color:#ffffff;
    text-align: center;
    padding: 1rem;
    margin-top: 4.5rem
}

ol p{
    background: #ffc107;
    padding: 1rem;
    border-radius: 1rem !important;
    margin-bottom: 1rem;
}

.faze li{
    font-size: 1.75rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}